body{
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 1.1em;
    overflow-x: hidden;
}
h1 {
    background-color: greenyellow;
    margin: 0px;
    height: 70px;
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    position: fixed;
    z-index: 999;
    padding-top: 20px;
    padding-left: 5px;
}
ul{
    position: fixed;
    right: 40px;
    top: 0px;
    float: right;
    display: flex;
    z-index: 9999;
}
ul li{
align-items: center;
list-style: none;
}
ul li a{
text-decoration: none;
padding: 0px 15px;
font-size: 20px;
transition: 0.3s ease;
color: purple;
}
ul li a:hover{
color: orangered;
text-decoration: overline 1px;
}
section.part{
    display: flex;
    flex-direction: column;
    background: url(https://i.pinimg.com/736x/7b/11/1c/7b111cc7f2002815c7f81bdbe4f2b64c.jpg) center center no-repeat;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 30px 0;
    background-size: cover;
    color: rgb(255, 255, 255);
}
h2.p1{
    font-weight: bolder;
    padding: 20px 0;
    color: cyan;
    font-weight: bolder;
    text-align: center;
    text-decoration: overline 1px;
}
form{
    background-color: rgb(0, 0, 0,0.5);
    padding: 50px;
    border-radius: 20px;
    font-size: 20px;
    max-width: 350px;
    margin: 0 auto;     
    width: 100%;
}
form label input{
    font-weight: 50px;
    font-size: 20px;
    margin-bottom: 20px;
    border-radius: 7px;
    color: black;
    padding: 5px;
}
form label{
    font-size: 20px;
}  
form input#signup, form input#log1{
    font-size: 18px;
    border-radius: 10px;
    transition: 0.3s ease;
}
form input#signup:hover, form input#log1:hover{
    background-color: rgb(171, 192, 49);
    transform: scale(0.95);
}
button.button1{
    font-size: 18px;
    text-decoration: none;
    border-radius: 10px;
    transition: 0.3s ease;
}
button.button1:hover{
    background-color: rgb(171, 192, 49);
    transform: scale(0.95);
}

div#aspirants{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    background-color: black;
    gap: 20px;
    color: white;
    background-position: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    align-items: stretch;
}
div.aspirant{
    border: yellowgreen solid 1px;
    border-radius: 10px;
    padding: 20px;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.aspirant img{
    height: 250px;
    width: 100%;
    object-fit:cover;
    display: block;
}
div#vote{
    color: black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: yellowgreen;
    min-height: 100vh;
    font-size: 22px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;

}
div.vote-list{
    display: grid;
    grid-template-columns :repeat(auto-fit, minmax(150px, 1fr));
    margin-bottom: 10px;
}
div#vote button{
    font-size: 18px;
    background-color: black;
    color: yellowgreen;
    border-radius: 10px;
    padding: 3px;
}
div#vote button:hover{
    color: black;
    background-color: greenyellow;
}
 div#result table,th,td{
    border: solid 1px;
    border-collapse: collapse;
    padding: 10px;
}
div#about{
    background-color: black;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    color: burlywood;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
div#about p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
    font-size: 20px;
}
div#about div#social{
    color: yellowgreen;
    font-size: 30px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    bottom: -75px;
    left: 400px;
    text-shadow: 2px 1px 1px;
}
div#social i{
    padding: 6px;
    transition: ease 0.2s;
    transform: 0.2S;
}
div#social i:hover{
    color: yellow;
    transform: translateY(3px)
}
div#contact{
    color: yellowgreen;
    position: relative;
    display: flex;
    bottom: -10px;
    left: -400px;
    font-size: 18px;
}

